src/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RvResult">
              <s:complexType>
                <s:sequence>
					<s:any minOccurs="2" maxOccurs="2"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETL_RvResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="2" maxOccurs="2"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TxResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETL_TxResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RvSoapIn">
    <wsdl:part name="parameters" element="tns:Rv"/>
  </wsdl:message>
  <wsdl:message name="RvSoapOut">
    <wsdl:part name="parameters" element="tns:RvResponse"/>
  </wsdl:message>
  <wsdl:message name="ETL_RvSoapIn">
    <wsdl:part name="parameters" element="tns:ETL_Rv"/>
  </wsdl:message>
  <wsdl:message name="ETL_RvSoapOut">
    <wsdl:part name="parameters" element="tns:ETL_RvResponse"/>
  </wsdl:message>
  <wsdl:message name="TxSoapIn">
    <wsdl:part name="parameters" element="tns:Tx"/>
  </wsdl:message>
  <wsdl:message name="TxSoapOut">
    <wsdl:part name="parameters" element="tns:TxResponse"/>
  </wsdl:message>
  <wsdl:message name="ETL_TxSoapIn">
    <wsdl:part name="parameters" element="tns:ETL_Tx"/>
  </wsdl:message>
  <wsdl:message name="ETL_TxSoapOut">
    <wsdl:part name="parameters" element="tns:ETL_TxResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call Web Service Sfis Service</wsdl:documentation>
      <wsdl:input message="tns:RvSoapIn"/>
      <wsdl:output message="tns:RvSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ETL_Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call Web Service Etl Service</wsdl:documentation>
      <wsdl:input message="tns:ETL_RvSoapIn"/>
      <wsdl:output message="tns:ETL_RvSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call Sfisws in Transaction Return OK or Error Message</wsdl:documentation>
      <wsdl:input message="tns:TxSoapIn"/>
      <wsdl:output message="tns:TxSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call  Etl Service  in Transaction Return OK or Error Message</wsdl:documentation>
      <wsdl:input message="tns:ETL_TxSoapIn"/>
      <wsdl:output message="tns:ETL_TxSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Rv">
      <soap:operation soapAction="http://tempuri.org/Rv" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Rv">
      <soap:operation soapAction="http://tempuri.org/ETL_Rv" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tx">
      <soap:operation soapAction="http://tempuri.org/Tx" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <soap:operation soapAction="http://tempuri.org/ETL_Tx" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Rv">
      <soap12:operation soapAction="http://tempuri.org/Rv" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Rv">
      <soap12:operation soapAction="http://tempuri.org/ETL_Rv" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tx">
      <soap12:operation soapAction="http://tempuri.org/Tx" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <soap12:operation soapAction="http://tempuri.org/ETL_Tx" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.20.131.245/auto_testing_service/Service.asmx"/>
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.20.131.245/auto_testing_service/Service.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>